<%= javascript_tag "var userName = '#{User.data(params[:user_id]).login}';" %>
<%= javascript_tag "var repoName = '#{User.specific_repo_data(params[:user_id], params[:id]).name}';" %>

<div class="container repo-data">
  <div class="small-top-margin">
    <h5>name:</h5>
    <p id="repoName"></p><br>
    <h5>description:</h5>
    <p id="repoDescription"></p>
  </div>
  <div class="row">
    <div class="col s4">
      <table class="small-top-margin centered bordered highlight">
        <tr>
          <th>size:</th>
          <td id="repoSize"></td>
        </tr>
        <tr>
          <th>primary language:</th>
          <td id="repoLanguage"></td>
        </tr>
        <tr>
          <th>watchers:</th>
          <td id="repoWatchers"></td>
        </tr>
        <tr>
          <th>commits:</th>
          <td id="commitCount"></td>
        </tr>
        <tr>
          <th>forks:</th>
          <td id="repoForks"></td>
        </tr>
        <tr>
          <th>open issues:</th>
          <td id="repoOpenIssues"></td>
        </tr>
        <tr>
          <th>contributors:</th>
          <td id="repoContributors"></td>
        </tr>
      </table>
    </div>
    <div class="col s6 offset-s1 small-top-margin">
      <button class="btn" type="button" name="language" id="languageGraphButton">Language Breakdown</button>
      <button class="btn" type="button" name="commit" id="commitGraphButton">Commit History</button>
      <button class="btn" type="button" name="contributor" id="contributoGraphButton">Contributor Breakdown</button>
      <div class="graphs med-top-margin">
        <div class="hidden" id="languageDataGraph"></div>
        <div class="hidden" id="commitGraph"></div>
        <div class="hidden" id="contributorDataGraph"></div>
      </div>
    </div>
  </div>
</div>
