<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5><%= link_to "GitBetter Graphs", "https://github.com/rossedfort/git_better_graphs", target: "_blank" %></h5>
        <p>A Ruby on Rails app built using AJAX and D3js</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5>Links</h5>
        <ul>
          <li><%= link_to "Gihtub API", "https://developer.github.com/v3/", target: "_blank"%></li>
          <li><%= link_to "Twitter", "https://twitter.com/rossedfort", target: "_blank"%></li>
          <li><%= link_to "LinkedIn", "https://www.linkedin.com/in/rossedfort", tagret: "_blank"%></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
