<nav>
  <div class="nav-wrapper">
    <a href="<%= root_path %>" class="brand-logo center">GitBetter Graphs</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <%= link_to "Login", login_path %>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <%= link_to "Explore", root_path %>
    </ul>
  </div>
</nav>
