<div class="container center">
  <h3>Some really hip and cool slogan will go here</h3>
  <p>
    Followed by a more intricate and detailed description of what
    GitBetter Graphs does. It will be a few sentences at the least.
    That means it will probably be longer than this text, which is currently
    just acting as a placeholder
  </p>
</div>
<div class="slider">
    <ul class="slides">
      <li>
        <%= image_tag('graph_one.png') %>
        <div class="caption center-align">
          <h3 class="light grey-text text-lighten-2">Look at this graph!!</h3>
          <h5 class="light grey-text text-lighten-2">A small description will go here</h5>
        </div>
      </li>
      <li>
        <%= image_tag('graph_two.png') %>
        <div class="caption left-align">
          <h3 class="light grey-text text-lighten-2">OMG what a great graph</h3>
          <h5 class="light grey-text text-lighten-2">A small description will go here</h5>
        </div>
      </li>
      <li>
        <%= image_tag('graph_three.png') %>
        <div class="caption left-align">
          <h3 class="light grey-text text-lighten-2">Much graph, such amaze</h3>
          <h5 class="light grey-text text-lighten-2">A small description will go here</h5>
        </div>
      </li>
      <li>
        <%= image_tag('graph_four.png') %>
        <div class="caption center-align">
          <h3 class="light grey-text text-lighten-2">Another graph!</h3>
          <h5 class="light grey-text text-lighten-2">A small description will go here</h5>
        </div>
      </li>
    </ul>
  </div>
