/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "materialize/components/color";
 $primary-color: color("grey", "lighten-1") !default;
 @import "materialize";
 @import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,200);

h1 {
  font-family: 'Titillium Web';
  font-weight: 600;
}

h2, h3, h4, h5, h6 {
  font-family: 'Titillium Web';
  font-weight: 400;
}

p, a {
  font-family: 'Titillium Web';
  font-weight: 200;
}

a {
  color: #fff;
}

p {
  color: #000;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.canvas {
  margin-top: 50px;
  height: 700px;
  width: 1200px;
  background-color: #666666;
}

.slider{
  margin-top: 100;
}

.top-margin {
  margin-top: 100px;
}

.flash_notice {
  background-color: #4caf50;
  text-align: center;
}

.flash_error {
  background-color: #f44336;
  text-align: center;
}

.stats-table {
  width: 100vw;
}

td, th {
  padding: 7px 5px;
}
