<div class="container top-margin">
  <div class="row">
    <div class="col s3">
      <h5>Followers</h5>
      <% @followers.each do |follower| %>
      <p>
        <%= link_to follower.login, user_path(follower.login) %>
      </p>
      <% end %>
    </div>
  </div>
</div>
